/* General */
.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  max-width: 1200px;
}

a {
  text-decoration: none;
}


:root {
  /* Colors */
  --my-green: #095D49;
  --my-green-faded: #095d4942;
  --my-lightest-grey: #f7f7f7;
  --my-light-grey: #eeeeee;
}

* {
  color: var(--my-green);
}

/* Temporary to assist with layout design - REMEMBER TO DELETE */
.temp-box {
  border: 1px solid rgb(5, 138, 0);
  background-color: rgb(228, 226, 212);
  height: 100px;
}

.temp-square {
  min-width: 80px;
  max-width: 80px;
  aspect-ratio: 1/1;
  background-color: red;
}


/* Logo */
.logo {
  width: 80px;
  max-width: 25vw;
}

/* Main Image */
.main-image {
  width: 500px;
  max-width: 50vw;
  aspect-ratio: 1/1;
  padding: 1rem;

}

/* Green Background Color */
.btn-secondary,
#nav {
  background-color: var(--my-green);

}

/* White Text */
.btn-secondary i,
#nav a {
  color: white;
}

/* Footer  */
footer {
  margin-top: 2rem;
  min-width: 100%;
  background-color: var(--my-light-grey);
}

/* Buttons */
.filter-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.larger-btn {
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
}

.listing-btn {
  width: 100%;
  height: 2.2rem;
}

/* Item Cards */
.item-card-container {
  padding: 1rem;
  overflow: hidden;
}

.item-card {
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 2px solid rgba(0, 0, 0, 0.2);

}

.item-card-small {
  max-height: 500px;
  min-height: 300px;
}

.item-card img {
  object-fit: cover;
  min-height: 140px;
}

/* Item Description */
.item-description-container {
  padding: 1rem
}

.item-description {
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.item-description li {
  list-style-type: none;
}

/* Item buttons */
.item-btn {
  width: 100%;
  height: 4rem;
}

.item-btn-container {
  padding: 1rem;
}

/* Account Page */
.username-displayed {
  margin-top: 5rem;
  margin-bottom: 2rem
}

/* Accordion  */
.accordion-button,
.accordion-button:not(.collapsed) {
  color: var(--my-green);
  background-color: var(--my-lightest-grey);
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--my-green-faded);
}

/* Browse Bonsai Button Scroll */
html {
  scroll-behavior: smooth;
}