{% extends "base.html" %} {% block content %}

<div class="row center-all username-displayed">
  <h4 class="col-12 text-center">Username</h4>
</div>

<section class="accordion" id="accordionPanelsStayOpenExample">
  <!-- Email -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        Email
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
    >
      <div class="accordion-body">
        example@email.com
        <button class="btn btn-secondary">Edit</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
