{% extends "base.html" %} {% block content %}

<div class="row center-all username-displayed">
  <h4 class="col-12 text-center">Username</h4>
</div>

<section class="accordion">
  <!-- Email -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#email"
        aria-expanded="true"
        aria-controls="email"
      >
        Email
      </button>
    </h2>
    <div id="email" class="accordion-collapse collapse">
      <div class="accordion-body">
        example@email.com
        <button class="btn btn-secondary">Edit</button>
      </div>
    </div>
  </div>
  <!-- Password -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#password"
        aria-expanded="true"
        aria-controls="password"
      >
        Password
      </button>
    </h2>
    <div id="password" class="accordion-collapse collapse">
      <div class="accordion-body">
        ********
        <button class="btn btn-secondary">Edit</button>
      </div>
    </div>
  </div>
  <!-- Create Listings Form -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#formCollapse"
        aria-expanded="true"
        aria-controls="formCollapse"
      >
        Create New Listing
      </button>
    </h2>
    <div id="formCollapse" class="accordion-collapse collapse">
      <div class="accordion-body">
        <form
          method="POST"
          action="{{ url_for('create_listing') }}"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              placeholder="Enter title for item to be listed"
            />
          </div>
          <div class="mb-3">
            <label for="species" class="form-label">Species</label>
            <input
              name="species"
              type="text"
              class="form-control"
              id="species"
              placeholder="Enter species of bonsai"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="tree_type"
                id="evergreen"
                value="evergreen"
              />
              <label class="form-check-label" for="evergreen">
                Evergreen
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type"
                id="deciduous"
                value="deciduous"
              />
              <label class="form-check-label mb-3" for="deciduous">
                Deciduous
              </label>
            </div>
            <div class="mb-3">
              <label class="form-label">Indoor/Outdoor</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="indoor_outdoor"
                  id="indoor"
                  value="indoor"
                />
                <label class="form-check-label" for="indoor"> Indoor </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="indoor_outdoor"
                  id="outdoor"
                  value="outdoor"
                />
                <label class="form-check-label" for="outdoor"> Outdoor </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="indoor_outdoor"
                  id="either"
                  value="either"
                />
                <label class="form-check-label" for="either"> Either </label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Height</label>
            <input
              name="height"
              type="number"
              class="form-control"
              id="height"
              placeholder="Enter height in cm"
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">£</span>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="Enter price"
                pattern="^£?\d{0,}\.?\d{0,2}$"
                title="Price entered should be in format such as £0.00 "
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="care-tips" class="form-label">Care Tips</label>
            <textarea
              class="form-control"
              name="care-tips"
              id="care-tips"
              rows="3"
              placeholder="Enter any care tips"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Item Image (upload)</label>
            <input
              type="file"
              name="image"
              class="form-control"
              id="image"
              accept="image/*"
            />
            <small class="form-text text-muted"
              >Only image files are accepted</small
            >
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Add Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="3"
              placeholder="Enter plant description"
            ></textarea>
          </div>
          <div class="row center-all">
            <div class="col-8 col-md-6 col-lg-4">
              <button type="submit" class="btn btn-secondary larger-btn">
                Create Listing
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Listings -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#listings"
        aria-expanded="true"
        aria-controls="listings"
      >
        Listings
      </button>
    </h2>
    <div id="listings" class="accordion-collapse collapse">
      <div class="accordion-body listings row center-all text-center">
        <!-- Listing -->
        {% for listing in listings %}
        <div class="col-10 col-sm-6 col-md-4 col-lg-3">
          <div class="item-card-container">
            <a
              href="{{ url_for('item', listing_id=listing.id) }}"
              class="item-card-link"
            >
              <div class="item-card item-card item-card-small">
                <div class="listing">
                  <h6>{{ listing.title }}</h6>
                </div>
                <div>
                  {% if listing.encoded_image %}
                  <img
                    src="data:image/png;base64,{{ listing.encoded_image }}"
                    style="max-width: 100%; height: auto"
                    class="img-fluid"
                    alt="Image of listing"
                  />
                  {% else %}
                  <p>No image available</p>
                  {% endif %}
                  <p>&pound;{{ listing.price }}</p>
                </div>
              </div>
            </a>
            <div class="row justify-content-between align-items-center">
              <div class="col-4 pt-2 pe-0">
                <a href="#" class="listing-btn btn btn-secondary p-0">Edit</a>
              </div>
              <div class="col-4 pt-2 ps-0">
                <a
                  href="{{ url_for('delete_listing', listing_id=listing.id) }}"
                  class="listing-btn btn btn-secondary p-0"
                  >Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% if not listings %}
        <p>No listed items currently.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Saved Items -->
  <div class="accordion-item text-start">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#saved-items"
        aria-expanded="true"
        aria-controls="saved-items"
      >
        Saved Items
      </button>
    </h2>
    <div id="saved-items" class="accordion-collapse collapse">
      <div class="accordion-body listings row center-all text-center">
        {% for listing in listings %}
        <div class="col-10 col-sm-6 col-md-4 col-lg-3">
          <div class="item-card-container">
            <a
              href="{{ url_for('listed_item', listing_id=listing.id) }}"
              class="item-card-link"
            >
              <div class="item-card item-card-small">
                <div class="listing">
                  <h6>{{ listing.title }}</h6>
                </div>
                <div>
                  {% if listing.encoded_image %}
                  <img
                    src="data:image/png;base64,{{ listing.encoded_image }}"
                    style="max-width: 100%; height: auto"
                    class="img-fluid"
                    alt="Image of listing"
                  />
                  {% else %}
                  <p>No image available</p>
                  {% endif %}
                  <p>&pound;{{ listing.price }}</p>
                </div>
              </div>
            </a>
            <div class="row center-all">
              <div class="col-4 pt-2 pe-0">
                <a href="#" class="listing-btn btn btn-secondary p-0"
                  >Remove
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% if not listings %}
        <p>No saved items currently.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
