{% extends "base.html" %} {% block content %}

<div class="row center-all">
  <!-- Intro Message with Button -->
  <div class="col-6">
    <div class="d-flex flex-column align-items-center">
      <h3 class="lh-base fs-1">
        Trading Tiny <br />
        Trees Together
      </h3>
      <a
        class="btn btn-secondary"
        href="{{ url_for('browse_bonsai') }}#browse-bonsai"
        >Browse Bonsai</a
      >
    </div>
  </div>
  <!-- Main Image -->
  <div class="col-6">
    <img
      src="{{ url_for('static', filename='assets/main-image.png') }}"
      alt="main image of a bonsai being held out by someone"
      class="main-image"
    />
  </div>
</div>
<hr />
<!-- Filter Button -->
<div class="row center-all">
  <div class="col-10 col-md-8 col-lg-6">
    <button class="btn btn-secondary filter-btn" id="browse-bonsai">
      Filter
    </button>
  </div>
</div>

<!-- Item Cards -->
<div class="row center-all">
  <!-- Item Card -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 item-card-container">
    <div class="item-card">
      <div>
        <h6>Title</h6>
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='assets/main-image.png') }}"
          style="max-width: 100%; height: auto"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- Item Card -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 item-card-container">
    <div class="item-card">
      <div>
        <h6>Title</h6>
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='assets/main-image.png') }}"
          style="max-width: 100%; height: auto"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- Item Card -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 item-card-container">
    <div class="item-card">
      <div>
        <h6>Title</h6>
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='assets/main-image.png') }}"
          style="max-width: 100%; height: auto"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- Item Card -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 item-card-container">
    <div class="item-card">
      <div>
        <h6>Title</h6>
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='assets/main-image.png') }}"
          style="max-width: 100%; height: auto"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- Item Card -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 item-card-container">
    <div class="item-card">
      <div>
        <h6>Title</h6>
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='assets/main-image.png') }}"
          style="max-width: 100%; height: auto"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="row center-all">
  <!-- Previous Button -->
  <div class="col-4 col-md-3 col-lg-2 text-end">
    <button class="btn btn-secondary disabled">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
  <!-- Result Pagination -->
  <div class="col-4 col-md-3 col-lg-2">
    <p class="m-0">1 2 3 4</p>
  </div>
  <!-- Next Button -->
  <div class="col-4 col-md-3 col-lg-2 text-start">
    <button class="btn btn-secondary disabled">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>

{% endblock %}
