{% extends "base.html" %} {% block content %}

<div class="row center-all">
  <!-- Intro Message with Button -->
  <div class="col-6">
    <div class="d-flex flex-column align-items-center">
      <h2 class="lh-base fs-1">
        Trading Tiny <br />
        Trees Together
      </h2>
      <a
        class="btn btn-secondary animate-click"
        href="{{ url_for('browse_bonsai') }}#browse-bonsai"
        >Browse Bonsai</a
      >
    </div>
  </div>
  <!-- Main Image -->
  <div class="col-6">
    <img
      src="{{ url_for('static', filename='assets/main-image.png') }}"
      alt="main image of a bonsai being held out by someone"
      class="main-image"
    />
  </div>
</div>
<hr />

<!-- Filter Button -->
<div class="row center-all">
  <div class="col-10 col-md-8 col-lg-6">
    <div class="btn btn-secondary filter-btn disabled" id="browse-bonsai">
      Filter
    </div>
  </div>
</div>

<h3>Listings</h3>
<!-- Listings -->
<div class="accordion-body listings row center-all text-center">
  <!-- Listing -->
  {% for listing in listings %}
  <div class="col-10 col-sm-6 col-md-4 col-lg-3">
    <div class="item-card-container">
      <a
        href="{{ url_for('listed_item', listing_id=listing.id) }}"
        class="item-card-link"
      >
        <div class="item-card item-card-small">
          <div class="listing">
            <p class="listing-title">{{ listing.title }}</p>
          </div>
          <div>
            {% if listing.encoded_image %}
            <img
              src="data:image/png;base64,{{ listing.encoded_image }}"
              class="img-fluid"
              alt="Image of listing"
            />
            {% else %}
            <p>No image available</p>
            {% endif %}
            <p>&pound;{{ listing.price }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %} {% if not listings %}
  <p>No listed items currently.</p>
  {% endif %}
</div>

<div class="row center-all">
  <!-- Previous Button -->
  <div class="col-4 col-md-3 col-lg-2 text-end">
    <div class="btn btn-secondary disabled">
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>
  <!-- Result Pagination -->
  <div class="col-4 col-md-3 col-lg-2">
    <p class="m-0">1</p>
  </div>
  <!-- Next Button -->
  <div class="col-4 col-md-3 col-lg-2 text-start">
    <div class="btn btn-secondary disabled">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>

{% endblock %}
