{% extends "base.html" %} {% block content %}

<div class="row center-all">
  <!-- listing -->
  <div class="col-10 col-sm-6 col-md-4 col-lg-3">
    <div class="item-card-container">
      <div class="item-card">
        <div class="listing">
          <h6>{{ listing.title }}</h6>
        </div>
        <div>
          {% if listing.encoded_image %}
          <img
            src="data:image/png;base64,{{ listing.encoded_image }}"
            style="max-width: 100%; height: auto"
            class="img-fluid"
            alt="Image of listing"
          />
          {% else %}
          <p>No image available</p>
          {% endif %}
          <p>&pound;{{ listing.price }}</p>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-4 pt-2 pe-0">
          <a href="#" class="listing-btn btn btn-secondary p-0">Edit</a>
        </div>
        <div class="col-4 pt-2 ps-0">
          <a
            href="{{ url_for('delete_listing', listing_id=listing.id) }}"
            class="listing-btn btn btn-secondary p-0"
            >Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
