{% extends "base.html" %} {% block content %}

<div class="row center-all">
  <!-- listing -->
  <div class="col-sm-10 col-md-6">
    <div class="item-card-container">
      <div class="item-card">
        <div class="listing">
          <h6>{{ listing.title }}</h6>
        </div>
        <div>
          {% if listing.encoded_image %}
          <img
            src="data:image/png;base64,{{ listing.encoded_image }}"
            style="max-width: 100%; height: auto"
            class="img-fluid"
            alt="Image of listing"
          />
          {% else %}
          <p>No image available</p>
          {% endif %}
          <p>&pound;{{ listing.price }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-6">
    <div class="item-description-container">
      <div class="item-description">
        <h5>Description:</h5>
        <p>{{ listing.description }}</p>
        <h5>Care Tips:</h5>
        <p>{{ listing.care_tips }}</p>
        <h5>Features:</h5>
        <ul>
          <li>Species = {{ listing.species }}</li>
          <li>Type = {{ listing.tree_type }}</li>
          <li>Indoor/Outdoor = {{ listing.indoor_outdoor }}</li>
          <li>Height = {{ listing.height }}</li>
        </ul>
        <h5>Date Added:</h5>
        <p>{{ listing.date_added.strftime('%d/%m/%y') }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row center-all pt-2">
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">Message Seller</button>
  </div>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">Save Item</button>
  </div>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">
      Back to Homepage
    </button>
  </div>
</div>

{% endblock %}
