{% extends "base.html" %} {% block content %}

<div class="row center-all">
  <!-- listing -->
  <div class="col-sm-10 col-md-6">
    <div class="item-card-container">
      <div class="item-card">
        <div class="listing">
          <h6>Title</h6>
        </div>
        <div>
          <img
            src="{{ url_for('static', filename='assets/main-image.png') }}"
            style="max-width: 100%; height: auto"
          />
          <p>&pound;50.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-6">
    <div class="item-description-container">
      <div class="item-description">
        <li><strong>Description</strong>:</li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, fuga
          error esse iure, veritatis accusantium saepe tempora, dolorem hic
          suscipit adipisci unde distinctio dolorum eaque veniam? Aliquid magni
          aliquam dolor?
        </p>
        <li><strong>Care Tips</strong>:</li>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae eum
          modi voluptate earum cum ipsa necessitatibus harum incidunt optio
          quidem soluta eos, nihil laudantium totam eveniet fugit dignissimos.
          Aspernatur, aut!
        </p>
        <li><strong>Features</strong>:</li>
        <p>
          Species = Chinese Elm <br />
          Type = Evergreen <br />
          Indoor/Outdoor = Either <br />
          Height = 50cm
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row center-all pt-2">
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">Message Seller</button>
  </div>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">Save Item</button>
  </div>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 item-btn-container center-all">
    <button href="#" class="item-btn btn btn-secondary">
      Back to Homepage
    </button>
  </div>
</div>

{% endblock %}
